# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.metadata/
Firmwares/mainTrain/.*
Firmwares/mainTrain/sloeber.ino.cpp
Firmwares/mainTrain/Release/
RemoteSystemsTempFiles/
Firmwares/storageBank/.*
Firmwares/storageBank/sloeber.ino.cpp
Firmwares/storageBank/Release/
