# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.metadata/
*.s##
*.b##
*.lck
sloeber.ino.cpp
Firmwares/mainTrain/.*
Firmwares/mainTrain/Release/
Firmwares/mainTrain/src/
RemoteSystemsTempFiles/
Firmwares/storageBank/.*
Firmwares/storageBank/Release/
Documents/~$storageBankAddress.xlsx
Firmwares/test_mainTrain/.*
Firmwares/test_mainTrain/Release/
Firmwares/display*/
Firmwares/.*
*.rar
